{% extends "header_admin.html" %}

{% block content %}

    {{ super() }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>User View</title>
            <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{#          <link rel="stylesheet" type="text/css" href="dms.css">
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{#          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            
            <style>
                @media(max-width: 480px){
                        .resp_heading{
                        font-size: 30px;
                        }

                        .resp_text{
                        font-size: 16px;
                        }

                        .resp_img{
                            height: 60px;
                            width: 60px;
                            }
                    }
            </style>
        </head>

        <body>
            <script type="text/javascript">
                $(function() {
                    $('#deleteButton').click(function() {
                        $.ajax({
                            url: "/users/"+$('#userId').text(),
                            type: 'DELETE',
                            success: function (response) {
                                alert("Successfully Deleted!")
                            },
                            error: function (error) {
                                alert("Failed");
                            }
                        });
                    });
                });
            </script>

            <!--User Details 1-->
            {% for user in users %}
                <div class="container col-lg-6 col-md-6 bg-light mt-4 mb-4">
                    <div class="row d-flex justify-content-between border rounded">
                        <div class="text-center ml-3">
                            <div class="p-1 row">
                                <i class="material-icons" style="font-size:25px;color:orange">person</i>
                                <h5 class="resp_text">{{user.name}}</h5>
                            </div>

                            <div class="p-1 row">
                                <i class="material-icons" style="font-size:25px;color:orange">email</i>
                                <h5 class="resp_text">{{user.email_address}}</h5>
                            </div>

                            <div class="p-1 row">
                                <i class="material-icons" style="font-size:25px;color:orange">phone</i>
                                <h5 class="resp_text">+91 9833749357</h5>
                                <p id="userId" hidden>{{ user.id }}</p>
                            </div>
                        </div>

                        <div class="p-1">
                            <div class="p-1 text-center">
                                <a type="button" href="" data-toggle="modal" data-target="#viewModal"><ion-icon name="eye-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                            </div>

                            <div class="p-1 text-center">
                                <a type="button" href="" data-toggle="modal" data-target="#updateModal"><ion-icon name="pencil-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                            </div>

                            <div class="p-1 text-center">
                                <a type="button" href="" data-toggle="modal" data-target="#deleteModal"><ion-icon name="trash-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--Ajax call for retrieving data-->
            <script>
                function Edit(elm) {
                    $.ajax({
                        url: '/getBlogById',
                        data: {
                            id: $(elm).attr('data-id')
                        },
                        type: 'POST',
                        success: function(res) {

                            // Parse the received JSON string
                            var data = JSON.parse(res);
                            
                            //Populate the Pop up
                            $('#name').val(data[0]['Name']);
                            $('#email').val(data[0]['Email']);
                            $('#phone-no').val(data[0]['Phone Number']);
                            $('#projects').val(data[0]['Projects']);
                            $('#role').val(data[0]['Role']);
                            $('#rights').val(data[0]['Rights']);
                            
                            // Trigger the Pop Up
                            $('#updateModal').modal();
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                    }
            </script>

            <!--User Details 2-->
            <div class="container col-lg-6 col-md-6 bg-light mt-4 mb-4">
                <div class="row d-flex justify-content-between border rounded">
                    <div class="text-center ml-3">
                        <div class="p-1 row">
                            <i class="material-icons" style="font-size:25px;color:orange">person</i>
                            <h5 class="resp_text">Saurav Shirwadkar</h5>
                        </div>

                        <div class="p-1 row">
                            <i class="material-icons" style="font-size:25px;color:orange">email</i>
                            <h5 class="resp_text">saurav.shirwadkar@gmail.com</h5>
                        </div>

                        <div class="p-1 row">
                            <i class="material-icons" style="font-size:25px;color:orange">phone</i>
                            <h5 class="resp_text">+91 8779384175</h5>
                        </div>
                    </div>

                    <div class="p-1">
                        <div class="p-1 text-center">
                            <a type="button" href="" data-toggle="modal" data-target="#viewModal"><ion-icon name="eye-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                        </div>

                        <div class="p-1 text-center">
                            <a type="button" href="" data-toggle="modal" data-target="#updateModal"><ion-icon name="pencil-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                        </div>

                        <div class="p-1 text-center">
                            <a type="button" href="" data-toggle="modal" data-target="#deleteModal"><ion-icon name="trash-outline" style="font-size: 25px; color: black;"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODALS FOR VIEW, UPDATE AND DELETE-->
            <!-- Modal for Delete-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: orange;">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header lead ">
                    <h5 class="modal-title resp_text text-danger" id="exampleModalLabel">Do you want to Delete the User ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button"  id="deleteButton" class="btn btn-danger" data-toggle="modal" data-target="#successfulDeleteModal">Delete</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- <script>
                 $('#deleteButton').click(function(){ 
                   $('#deleteModal').modal("hide");
                   $('#successfulDeleteModal').modal('show');

                });


            </script>
             -->

            <!-- Modal for Update-->
            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: orange;">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header lead ">
                    <h5 class="modal-title text-success" id="exampleModalLabel">Update!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-body lead">
                        <form class="container" >
                            <div class="" style="font-size:15px;">
                                <label for="name"><b>Name:</b></label>
                                <input type="text" placeholder="Enter Your Name" name="name" id="name" required>
                            
                                <div class="row">
                                    <div class="col-sm">
                                        <label for="email"><b>Email:</b></label>
                                        <input type="email" placeholder="Enter Email" name="email" id="email" required>
                                    </div>
                                    
                                    <div class="col-sm">
                                        <label for="email"><b>Phone Number:</b></label>
                                        <input type="text" placeholder="Enter Phone Number" name="name" id="phone-no" required>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="sel1"><b>Project:</b></label>
                                            <select class="form-control" id="project" type="project" name="project">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="sel1"><b>Role:</b></label>
                                            <select class="form-control" id="role" type="role" name="role">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <label for="sel1"><b>Rights:</b></label>
                                    <select class="form-control" id="rights" type="rights" name="rights">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Update</button>
                    </div>
                </div>
                </div>
            </div>


            <!--Modal For View-->
            {% for user in users %}
                <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: orange;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">User Details!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>

                            <div class="modal-body lead resp_text">
                                <div>
                                    <p class="text-center"><b>{{user.name}}</b></p>
                                </div>

                               
                                <div class="">
                                        <p><b>Email: {{user.email_address}}</b></p>
                                </div>

                                <div class="">
                                        <p><b>Mobile No: 9833749357</b></p>
                                </div>
                                

                                
                                <div class="">
                                        <p><b>Role: {{user.role_id}}</b></p>
                                </div>

                                <div class="">
                                        <p><b>Project: {{user.project_id}}</b></p>
                                </div>
                               

                                <div>
                                    <p><b>Rights: {{user.rights_id}}</b></p>
                                </div>
                            </div>

                            <div class="modal-footer" >
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modals for delete completion(successful or unsuccessful)-->
                <!--Successful deletion-->
                <div class="modal fade" id="successfulDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: orange;">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header lead ">
                        <h5 class="modal-title resp_text text-success" id="exampleModalLabel">User has been successfully Deleted!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    </div>
                </div>
                
            

                <!--Unsuccessful deletion-->
                <div class="modal fade" id="unsuccessfulDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: orange;">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header lead ">
                        <h5 class="modal-title resp_text text-danger text-danger" id="exampleModalLabel">Cannot be able to delete the user!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    </div>
                </div>

                <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
            {% endfor %}

        </body>
    </html>
{% endblock %}