{% extends "header_admin.html" %}
{% block content %}
    {{ super() }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{title}}</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{#          <link rel="stylesheet" type="text/css" href="dms.css">#}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>

        <body>
            <div>
                <div id="header">
                    <form class="container d-flex justify-content-center" action="{{ url_for('usercredentials') }}" method="post">
                        <div class="col-sm-6">
                            <h2 class="text-center mt-1" style="color: orange;">
                                <b>Add User</b>
                            </h2>

                            <label for="email"><b>Email:</b></label>
                            <input type="email" placeholder="Enter Email" name="email_address" id="email" required>

                            <!--java script for password matching-->
                            <script>
                                var check = function() {
                                    if (document.getElementById('new_password').value ===
                                        document.getElementById('confirm_new_password').value) {
                                        document.getElementById('message').style.color = 'green';
                                        document.getElementById('message').innerHTML = 'matching';
                                    } else {
                                        document.getElementById('message').style.color = 'red';
                                        document.getElementById('message').innerHTML = 'not matching';
                                    }
                                }
                            </script>

                            <label for="psw"><b>Password:</b></label>
                            <input type="password" placeholder="Enter Password" name="password" id="password" onkeyup='check();'  required>

                            <label for="psw"><b>New Password:</b></label>
                            <input type="password" placeholder="Enter Password" name="new_password" id="new_password" onkeyup='check();'  required>

                            <label for="psw-repeat"><b>Confirm New Password:</b></label>
                            <input type="password" placeholder="Repeat Password" name="confirm_new_password" id="confirm_new_password" onkeyup='check();'  required>
                            <span id='message'></span>

                            <br>

                            <button type="submit" name="submit" value="Submit User" class="registerbtn" style="background-color: orange">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </body>
    </html>
{% endblock %}