<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Receipt Donation</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
         @media(max-width: 480px){
                .resp_heading{
                font-size: 30px;
                }

                .resp_text{
                font-size: 16px;
                }

                .resp_img{
                    height: 60px;
                    width: 60px;
                    }
            }
    </style>
   
</head>
<body>

    <!--Header-->
    <div class=" p-1 mt-3 text-center" style="color:orange">
        <div class="">
            <h1 class="resp_heading">
                <img class="resp_img" src="images/logo.png" alt="VSM's Logo" height="70px" width="80px">
                <b>VIVEKANAND SEVA MANDAL.</b>
            </h1>

            <!-- <h5 class="resp_text">
                <b>DOMBIVLI (E)</b>
            </h5> -->

            
            <p class="text-center lead resp_text"><b>"Dnyanmandir" Building,
                    Nerurkar Road, Datta Nagar<br>
                    Chowk, Sangita Wadi,
                    Dombivli(E), Thane 421 201.<br>Tel : (0251) 2800303. Web: www.vsmandal.org. Email: vsmandal.office@gmail.com</b>
            </p>
            <p><b></b></p>
            <p class="text-center lead resp_text"><b>Public Trust Reg.No. F/4661/Thane Pan: AAATV2568E</b></p>
            
        </div>
    </div>

    <hr>

    <!--Receipt Section-->
    <div class="text-center p-2" style="color:orange">
        <div class="text-center">
            <h4><u>Donation Receipt</u></h4>
        </div>
    </div>

   

      <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm">
                <img class="img-fluid" src="images/swami-vivekananda.jpg" alt="Swami-Vivekananda">
            </div>

            <div class="col-sm lead resp_text" style="color: orange;">
                <!--Common Fields-->
                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Date: dd/mm/yyyy</b></p>
                    <p class="col-sm"><b>Receipt Id: xxxxxx</b></p>
                </div>

                <div>
                    <p><b> Donor Name: Aniket Vilas Sonawane</b></p>
                </div>

                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Mobile No: 123456789</b></p>
                    <p class="col-sm"><b>Pan No: xxxxxx</b></p>
                </div>

                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Email Address: xyz@gmail.com</b></p>
                    <p class="col-sm"><b>Donation Type: Cash</b></p>
                </div>

                <div>
                    <p><b>Address Line 1: xyz</b></p>
                </div>

                <div>
                    <p><b>Address Line 2: xyz</b></p>
                </div>

                <div>
                    <p><b>Amount In Figures: 21121</b></p>
                </div>

                <div>
                    <p><b>Amount In Words: xyz</b></p>
                </div>

                <!--Cheque Fields-->
                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Cheque No: xxxxxx</b></p>
                    <p class="col-sm"><b>Donor Bank: xyz</b></p>
                </div>

                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Cheque Date: dd/mm/yyyy</b></p>
                    <p class="col-sm"><b>Date of credit: dd/mm/yyyy</b></p>
                </div>

                <!--Online Fields-->
                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Transaction Id: XXXXXXX</b></p>
                    <p class="col-sm"><b>Date of Credit: dd/mm/yyyy</b></p>
                </div>

                <!--Receiver Details-->
                <div class="row d-flex justify-content-center ">
                    <p class="col-sm"><b>Receiver Name: xyz</b></p>
                    <p class="col-sm"><b>Receiver Signature: xyz</b></p>
                </div>



            </div>

            
        </div>
  
      </div>


      <!--Footer Section-->
      <hr>
      <div class="text-center lead resp_text" style="color: orange;">
        <p><b>* Educational Development * Youth Empowerment * Tribal Development * Rural Development * Social Enterpreneurship * Technological Empowerment * Women Self-help groups * Social Awareness Building.</b></p> 
      </div>
      

    
        

    



</body>
</html>